h3 {
    text-align:center;
    font-size:30px;
    font-family:Helvetica;
    color:rgb(5, 50, 200);
    background-color:lightblue;
}
body {
    background-color:cornflowerblue;
}
p {
    font-size:20px;
    font-family:'Oswald', sans-serif;
    line-height: 1.5;
    color:rgb(19, 200, 90);
}
ul {
    font-size: 20px;
    font-family:courier;
    color:#E4BB97;
    list-style-type:square;
}
p2 {
    text-decoration: underline;
    color:red;
    font-size: 25px;
}
p3 {
    text-decoration: underline;
    color:red;
    font-size: 25px;
}
p4 {
    text-decoration: underline;
    color:red;
    font-size: 25px;
}
p5 {
    text-decoration: underline;
    color:red;
    font-size: 25px;
}
ol {
    list-style-type: lower-alpha;
    background-color:lightblue;
}
a {
    color:lightblue;
    text-decoration:none;
}