
h1 {
color:lightblue;
text-align:center 
}

div {
    margin-left:15%;
}

h3 {
    text-align:center;
    font-size:30px;
    font-family:Helvetica;
    color:rgb(5, 50, 200);
    background-color:powderblue;
}
body {
    background-color:cornflowerblue;
}
p {
    font-size:20px;
    font-family:'Oswald', sans-serif;
    line-height: 1.5;
    color:rgb(30, 100, 90);
    border-style:solid;
}

a:hover {
    color:yellow;
}

img {
    display:block;
    border-radius:90px;
    margin:30px;
}

ul,ol {
    font-family:'Oswald', sans-serif;
    text-decoration:underline;
    font-size:30px;
    background-color:white;
    color:green;
}

li {
    color:blue;
    font-family:'Poppins', sans-serif;
}