body {
  margin-top: 60px;
  background-image:url("https://comicsgrinder.files.wordpress.com/2016/08/osamu-tezuka-japan-manga.jpg");
}

img {
  border-radius: 10%;
  max-width: 50%;
  display: block;
  margin: auto auto 30px auto;
}

#bio, #legacy, #life, #addinfo {
  background: black;
  max-width: 80%;
  margin: 20px auto;
  border-radius: 25%;
  padding: 25px 50px;
}

p,ul {
    color:white;
}
 
blockquote {
    color:white;
    background-color:red;
    padding:15px;
}

.btn {
    background-color:yellow;
    margin-left:100px;
}
